<launch>
  <!-- Map Server Node -->
  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find my_robot_nav)/maps/map.yaml" />

  <!-- Static Transform Publisher for Velodyne -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_velodyne" 
        args="0 0 0 0 0 0 base_link velodyne 100" />
 
  <node pkg="tf" type="static_transform_publisher" name="base_to_odom" 
      args="0 0 0 0 0 0 base_link odom 100" />

  <!-- Static Transform Publisher from odom to map -->
  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" 
        args="0 0 0 0 0 0 odom map 100" />
  <!-- Adaptive Monte Carlos Localization (AMCL) node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <remap from="scan" to="/scan_filtered"/>
    <param name="odom_frame_id" value="odom" />
    <param name="base_frame_id" value="base_link" />
    <param name="global_frame_id" value="map" />

    <!-- Load AMCL parameters from YAML file -->
    <rosparam file="$(find my_robot_nav)/config/amcl_params.yaml" command="load"/>
  </node>

  <!-- Move Base Node -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="global_frame_id" value="map" />
    <param name="robot_base_frame" value="base_link" />

    <!-- Load global costmap parameters -->
    <rosparam file="$(find my_robot_nav)/config/global_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robot_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />

    <!-- Load local costmap parameters -->
    <rosparam file="$(find my_robot_nav)/config/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <!-- Load DWA Planner parameters -->
    <rosparam file="$(find my_robot_nav)/config/dwa_params.yaml" command="load" />
  </node>

  <!-- RViz Node -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot_nav)/rviz/navi_config.rviz" />
</launch>

