<launch>
  <!-- Launch Velodyne PointCloud -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

  <!-- Launch u-blox GPS -->
  <include file="$(find ublox_gps)/launch/ublox_device.launch"/>

  <!-- Run gather_data.py -->
  <node pkg="gather_data" type="gather_data.py" name="gather_data_node" output="screen" />

  <!-- Run serial_node.py for /dev/ttyACM0 -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_acm0" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
  </node>

  <!-- Run serial_node.py for /dev/ttyACM1 -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_acm1" output="screen">
    <param name="port" value="/dev/ttyACM1"/>
  </node>

  <!-- Run serial_node.py for /dev/ttyACM2 -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_acm2" output="screen">
    <param name="port" value="/dev/ttyACM2"/>
  </node>
</launch>
